<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Vue Basics</title>
      <link
         href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="styles.css" />
      <script src="https://unpkg.com/vue@next" defer></script>
      <script src="app.js" defer></script>
   </head>
   <body>
      <header>
         <h1>Monster Slayer</h1>
      </header>
      <div id="game">
         <section id="monster" class="container">
            <h2 v-if="monster.hp > 0">Monster Health</h2>
            <h2 v-else>Monster Corpse</h2>
            <div v-if="monster.hp > 0" class="healthbar">
               <div class="healthbar__value" :style="monsterBarStyles">
                  {{monster.hp}} / {{monster.hp_max}}
               </div>
            </div>
         </section>
         <section id="player" class="container" v-if="player.hp > 0">
            <h2 v-if="player.hp > 0">Your Health</h2>
            <div class="healthbar">
               <div class="healthbar__value" :style="playerBarStyles">
                  {{player.hp}} / {{player.hp_max}}
               </div>
            </div>
         </section>
         <section id="controls">
            <button @click="playerAttack" :disabled="gameIsOver">ATTACK</button>
            <button
               @click="specialAttack"
               :disabled="player.special < 3 || gameIsOver"
            >
               SPECIAL ATTACK {{player.special}}
            </button>
            <button @click="heal">HEAL</button>
            <button @click="surrender" :disabled="gameIsOver">SURRENDER</button>
         </section>
         <section id="log" class="container">
            <h2>Battle Log</h2>
            <ul v-for="log in battle_log.slice().reverse()">
               {{log}}
            </ul>
         </section>
      </div>
   </body>
</html>
